{{ include "../../shared/zsh/omz.zsh" }}
{{ include "../../shared/zsh/history.zsh" }}
{{ include "../../shared/zsh/mise.zsh" }}
{{ include "../../shared/zsh/aliases.zsh" }}
{{ include "../../shared/zsh/functions.zsh" }}
{{ include "../../shared/zsh/macos.zsh" -}}
